{% props text = 'New' %}
<span
    class="absolute -right-4 -top-3 flex px-[.4rem] py-[.2rem] text-[.5rem] font-sans uppercase leading-none bg-black/10 rounded-sm opacity-75 after:content-[attr(data-content)] max-nav:hidden"
    data-content="{{ text }}"
></span>
