{%- props -%}
{%- set style = html_cva(
    base: 'flex h-full w-full items-center justify-center rounded-full bg-muted',
    variants: {},
    compoundVariants: []
) -%}

<span
        class="{{ style.apply({}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</span>
