{% extends 'base.html.twig' %}

{% set meta = {
    title: "Symfony UX: JavaScript tools you'll love",
    title_suffix: false,
    description: 'A set of PHP & JavaScript packages, curated by Symfony, to solve your every day frontend problems. Featuring Stimulus and Turbo.',
    canonical: url('app_homepage'),
} %}

{% block content %}
<div class="pt-16">
    <div class="max-w-[1400px] mx-auto px-6 py-6 md:px-12 md:py-12">

        <div class="grid sm:grid-cols-2 justify-center gap-12 pt-4 mt-2">
          <div class="text-center lg:text-start mt-0 sm:mt-12">
            <span class="eyebrows">curated by symfony</span>
            <h1 class="my-4">JavaScript <em class="rainbow-emphasis">tools</em> you can't live without.</h1>
            <p>A set of PHP &amp; JavaScript packages to solve every day frontend problems featuring Stimulus and Turbo.</p>
          </div>
          <div class="text-center lg:text-start mt-0 sm:mt-12">
              <twig:HomepageTerminalSwapper class="shadow-blur shadow-blur--rainbow" style="--shadow-bottom: 2rem;" />
          </div>
        </div>
    </div>
</div>

<div class="max-w-[1400px] mx-auto px-6 py-6 md:px-12 md:py-12">
    <h2 class="ubuntu">Install it</h2>

    <div class="arrow mb-4 hidden md:block"></div>

    <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 md:col-span-6">
            <twig:Terminal bottomPadding="145">
                composer require symfony/asset-mapper symfony/stimulus-bundle
            </twig:Terminal>
        </div>

        <div class="col-span-12 md:col-span-6 mt-4 md:mt-0">
            <div data-controller="tooltips" class="ux-container FileTree grow ms-2 py-4">
                <div style="height: 185px; overflow: auto;">
                    <twig:FileTree files="{{ recipeFileTree.files }}" />
                </div>
            </div>
        </div>
    </div>

    <p class="eyebrows" style="margin: 70px 0 0;">Stimulus Controllers</p>
    <div class="md:flex md:justify-between items-center text-center md:text-start">
        <h2 class="ubuntu pt-2 component-headlines">Write custom JavaScript inside <em class="rainbow-emphasis">Stimulus Controllers</em></h2>
        <twig:Button href="https://symfony.com/doc/current/frontend/ux.html" class="my-4 md:my-0">
            Read full Documentation
            <twig:ux:icon name="arrow-right" class="-rotate-45"/>
        </twig:Button>
    </div>

    <div class="arrow mb-4 hidden md:block"></div>

    <div class="grid grid-cols-12 gap-x-6">
        <div class="col-span-12 md:col-span-6">
            <twig:CodeBlock
                filename="templates/main/homepage.html.twig"
                targetTwigBlock="markdown_example"
                :showTwigExtends="false"
                :stripExcessHtml="true"
            />
        </div>
        <div class="col-span-12 md:col-span-6 mt-4 md:mt-0">
            <twig:CodeBlock
                filename="assets/controllers/markdown-controller.js"
            />
        </div>
    </div>

    <div class="shadow-blur shadow-blur--rainbow mt-12" style="--shadow-bottom: 2rem;">
        <div class="DemoContainer py-2 px-6 flex justify-center">
            <small style="opacity: 80%;">And you have a Markdown live converter!</small>
        </div>
        <div class="DemoContainer-inner p-6">
            {% block markdown_example %}
                <div class="grid grid-cols-12 gap-x-6 items-stretch" data-controller="markdown">
                    <div class="col-span-6 flex">
                        <textarea
                            rows="2" class="w-full bg-body border rounded-sm p-4"
                            aria-label="Type markdown into this box"
                            autocomplete="off"
                            data-markdown-target="input"
                            data-action="markdown#render"
                        >Writing _JavaScript_ is... a **dream** with Stimulus 🤩</textarea>
                    </div>
                    <div class="col-span-6 flex">
                        <div class="bg-body border rounded-sm w-full p-4" data-markdown-target="preview">
                            <small>&lt;- Write something in the textarea!</small>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
            <div class="arrow" style="transform:scaleY(-1) translateY(20%);margin-bottom: -1rem;"></div>
    </div>

    <p class="eyebrows" style="margin: 111px 0 0;">Packages</p>
    <div class="md:flex md:justify-between text-center items-center md:text-start">
        <h2 class="ubuntu pt-2 component-headlines">Install UX <em class="rainbow-emphasis">Components</em></h2>
        <twig:Button href="{{ path('app_packages') }}" class="mt-4 md:mt-0">
            Browse all Packages
            <twig:ux:icon name="arrow-right" class="-rotate-45"/>
        </twig:Button>
    </div>
    <div class="mt-4 md:mt-12">
        <div style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fit, minmax(min(100%, 340px), 1fr));">
            {% for package in packages|slice(0, 12) %}
                <twig:Package:PackageBox package="{{ package }}" titleTag="h3" />
            {% endfor %}
        </div>
    </div>
</div>

{{ include('_aside.html.twig') }}

{% endblock %}
