{%- props
    xs = 0,
    sm = 0,
    md = 0,
    lg = 0,
    xl = 0,
    xsOffset = 0,
    smOffset = 0,
    mdOffset = 0,
    lgOffset = 0,
    xlOffset = 0,
    first = false,
    last = false,
-%}

{% set xsCols = false %}{%  if xs > 0 %}{% set xsCols = "true" %}{% endif %}
{% set smCols = false %}{%  if sm > 0 %}{% set smCols = "true" %}{% endif %}
{% set mdCols = false %}{%  if md > 0 %}{% set mdCols = "true" %}{% endif %}
{% set lgCols = false %}{%  if lg > 0 %}{% set lgCols = "true" %}{% endif %}
{% set xlCols = false %}{%  if xl > 0 %}{% set xlCols = "true" %}{% endif %}

{% set xsOffsetCols = false %}{%  if xsOffset > 0 %}{% set xsOffsetCols = "true" %}{% endif %}
{% set smOffsetCols = false %}{%  if smOffset > 0 %}{% set smOffsetCols = "true" %}{% endif %}
{% set mdOffsetCols = false %}{%  if mdOffset > 0 %}{% set mdOffsetCols = "true" %}{% endif %}
{% set lgOffsetCols = false %}{%  if lgOffset > 0 %}{% set lgOffsetCols = "true" %}{% endif %}
{% set xlOffsetCols = false %}{%  if xlOffset > 0 %}{% set xlOffsetCols = "true" %}{% endif %}

{% set firstClass = false %}{%  if first %}{% set firstClass = "true" %}{% endif %}
{% set lastClass = false %}{%  if last %}{% set lastClass = "true" %}{% endif %}

{%- set style = html_cva(
    base: '',
    variants: {
        xsCols: {
            "true": 'col-span-' ~ xs,
        },
        smCols: {
            "true": 'sm:col-span-' ~ sm,
        },
        mdCols: {
            "true": 'md:col-span-' ~ md,
        },
        lgCols: {
            "true": 'lg:col-span-' ~ lg,
        },
        xlCols: {
            "true": 'xl:col-span-' ~ xl,
        },
        xsOffsetCols: {
            "true": 'col-start-' ~ (xsOffset + 1),
        },
        smOffsetCols: {
            "true": 'sm:col-start-' ~ (smOffset + 1),
        },
        mdOffsetCols: {
            "true": 'md:col-start-' ~ (mdOffset + 1),
        },
        lgOffsetCols: {
            "true": 'lg:col-start-' ~ (lgOffset + 1),
        },
        xlOffsetCols: {
            "true": 'xl:col-start-' ~ (xlOffset + 1),
        },
        firstClass: {
            "true": 'order-first',
        },
        lastClass: {
            "true": 'order-last',
        },
    },
) -%}
<div
        class="{{ style.apply({xsCols, smCols, mdCols, lgCols, xlCols, xsOffsetCols, smOffsetCols, mdOffsetCols, lgOffsetCols, xlOffsetCols, firstClass, lastClass}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</div>