{%- props
    start = 'auto',
    center = false,
    end = false,
    top = false,
    middle = false,
    bottom = false,
    around = false,
    between = false,
    reverse = false,
-%}

{% set startClass = false %}{%  if start != 'auto' %}{% set startClass = "true" %}{% endif %}
{% set centerClass = false %}{%  if center %}{% set centerClass = "true" %}{% endif %}
{% set endClass = false %}{%  if end %}{% set endClass = "true" %}{% endif %}
{% set topClass = false %}{%  if top %}{% set topClass = "true" %}{% endif %}
{% set middleClass = false %}{%  if middle %}{% set middleClass = "true" %}{% endif %}
{% set bottomClass = false %}{%  if bottom %}{% set bottomClass = "true" %}{% endif %}
{% set aroundClass = false %}{%  if around %}{% set aroundClass = "true" %}{% endif %}
{% set betweenClass = false %}{%  if between %}{% set betweenClass = "true" %}{% endif %}
{% set reverseClass = false %}{%  if reverse %}{% set reverseClass = "true" %}{% endif %}

{%- set style = html_cva(
    base: 'flex flex-wrap',
    variants: {
        startClass: {
            "true": 'justify-start',
        },
        centerClass: {
            "true": 'justify-center',
        },
        endClass: {
            "true": 'justify-end',
        },
        topClass: {
            "true": 'items-start',
        },
        middleClass: {
            "true": 'items-center',
        },
        bottomClass: {
            "true": 'items-end',
        },
        aroundClass: {
            "true": 'justify-around',
        },
        betweenClass: {
            "true": 'justify-between',
        },
        reverseClass: {
            "true": 'flex-row-reverse',
        },
    },
) -%}
<div
        class="{{ style.apply({startClass, centerClass, endClass, topClass, middleClass, bottomClass, aroundClass, betweenClass, reverseClass}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</div>