<div{{ attributes }}>

    <twig:Form:Input type="text" data-model="query" placeholder="Results update as you type..." />

    <div class="pt-3 grid gap-2 grid-cols-[repeat(auto-fill,minmax(260px,1fr))]" data-loading="addClass(opacity-50)">
        {% for package in computed.packages %}
            <twig:PackageListItem package="{{ package }}" titleTag="h4" />
         {% else %}
            No packages found "{{ query }}"
        {% endfor %}
    </div>

</div>
