@layer components {
  .Icon {
    display: inline-grid;
    place-content: center;
    height: 1em;
    width: 1em;
    fill: currentColor;
  }

  .LiveDemoIcon [stroke-width] {
    stroke-width: 1.2;
  }
}
