@layer components {
    .ubuntu {
        font-family: var(--font-title);
    }

    .eyebrows {
        text-transform: uppercase;
        font-family: var(--font-sans);
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 1.6;
        letter-spacing: 0.125rem;
    }
}
