@layer components {
    .code-description :is(h2, h3) {
        font-family: var(--font-title);
    }
    .code-description h2 {
        font-size: 2.5em;
        margin-block-end: 1.5rem;
    }
    .code-description h3 {
        font-size: 1.65em;
        font-weight: 500;
        margin-block-end: 1.125rem;
        margin-top: 2.25rem;
    }
    .code-description:hover strong {
        background: var(--color-body-text);
        color: var(--color-body);
    }

    .ubuntu {
        font-family: var(--font-title);
    }

    .eyebrows {
        text-transform: uppercase;
        font-family: var(--font-sans);
        font-weight: 600;
        font-size: 0.7rem;
        line-height: 1.6;
        letter-spacing: 0.125rem;
    }
}
