@layer components {
    .Wysiwyg {
        h1 {
            font-size: 2.6rem;
            font-weight: 700;
            margin-bottom: --spacing(4);
        }

        h2 {
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: --spacing(2);
            margin-top: --spacing(8);
            letter-spacing: theme('tracking.tighter');
            scroll-margin-top: 80px;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: --spacing(2);
            margin-top: --spacing(6);
            scroll-margin-top: 80px;
        }

        a {
            text-decoration: underline;
        }

        p, .Terminal {
            margin-top: --spacing(4);
            margin-bottom: --spacing(4);
        }

        ol, ul {
            margin-top: --spacing(5);
            margin-bottom: --spacing(5);
            padding-inline-start: --spacing(6);

            > li {
                padding-inline-start: --spacing(2);
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        li {
            margin-top: --spacing(2);
            margin-bottom: --spacing(2);
        }

        > ul > li p,
        > ol > li p {
            margin-top: --spacing(2);
            margin-bottom: --spacing(2);
        }

        > ul > li > p:first-child,
        > ol > li > p:first-child {
            margin-top: --spacing(2);
        }

        > ul > li > p:last-child,
        > ol > li > p:last-child {
            margin-bottom: --spacing(2);
        }

        ul ul, ul ol, ol ul, ol ol {
            margin-top: --spacing(3);
            margin-bottom: --spacing(3);
        }

        h2 + *, h3 + * {
            margin-top: 0;
        }

        & > :first-child {
            margin-top: 0;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        .Wysiwyg_Table {
            outline: 1px solid var(--color-border);
            border-radius: var(--radius-lg);
            margin-bottom: --spacing(3);
            width: 100%;
            overflow: hidden;

            thead {
               background-color: --alpha(var(--color-surface) / 70%);
                border-radius: var(--radius-lg);
                border-bottom: 1px solid var(--color-border);
            }

            tbody {
               background-color: --alpha(var(--color-surface) / 5%);
            }

            th, td {
                padding: --spacing(2);
            }

            tr:not(:last-child) {
                border-bottom: 1px solid var(--color-border);
            }
        }
    }
}
