<div
    {{ attributes.defaults({
        class: 'absolute inset-0 bg-black/50 backdrop-blur opacity-0 transition-opacity duration-200 ease-out [.is-open_&]:opacity-100'
    }) }}
    data-action="click->disclosure#close"
></div>
