{% set name = inject('_toolkit_disclosure_name') %}
<div
    {{ attributes.defaults({ class: 'hidden' }) }}
    data-disclosure-target="panel"
    id="{{ name }}"
>
    {% block content %}{% endblock %}
</div>
