{# @block content The descriptive text explaining the dialog purpose #}
{%- set _dialog_descriptionId = inject('dialog.descriptionId') -%}
<p
    id="{{ _dialog_descriptionId }}"
    data-slot="dialog-description"
    class="{{ ('text-muted text-sm *:[a]:underline *:[a]:underline-offset-3 *:[a]:hover:text-body-text ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.without('id') }}
>
    {%- block content %}{% endblock -%}
</p>
