// Bootstrap foundation
@import "../../vendor/twbs/bootstrap/scss/functions";

// Default variable overrides
@import "variables";

// Bootstrap variables
@import "../../vendor/twbs/bootstrap/scss/variables";
@import "../../vendor/twbs/bootstrap/scss/variables-dark";

// Remove Bootstrap variables/overrides
$theme-colors: map-remove($theme-colors, "info", "light");

// Bootstrap remainder of required parts
@import "../../vendor/twbs/bootstrap/scss/maps";
@import "../../vendor/twbs/bootstrap/scss/mixins";
@import "../../vendor/twbs/bootstrap/scss/utilities";
@import "../../vendor/twbs/bootstrap/scss/root";

// Remove multiple utilities with a comma-separated list
// Margin
$utilities: map-remove(
    $utilities,
    // Background
    "bg-opacity",
    "background-color",
    "subtle-background-color",
    // Opacity
    "opacity",

    // Negative margin
    "negative-margin",
    "negative-margin-x",
    "negative-margin-y",
    "negative-margin-top",
    "negative-margin-end",
    "negative-margin-bottom",
    "negative-margin-start",
    // Link
    "link-opacity",
    "link-offset",
    "link-underline",
    "link-underline-opacity",
    // Text
    "text-align",
    // Border
    "border",
    "border-top",
    "border-end",
    "border-bottom",
    "border-start",
    "border-color",
    "subtle-border-color",
    "border-width",
    "border-opacity",
    // Position
    "top",
    "bottom",
    "start",
    "end",
    "translate-middle",
    // Shadow
    "shadow",
    // Margin
    "margin",
    "margin-x",
    "margin-y",
    "margin-top",
    "margin-end",
    "margin-bottom",
    "margin-start",
    "negative-margin",
    "negative-margin-x",
    "negative-margin-y",
    "negative-margin-top",
    "negative-margin-end",
    "negative-margin-bottom",
    "negative-margin-start",
    // Paddings
    "padding",
    "padding-x",
    "padding-y",
    "padding-top",
    "padding-end",
    "padding-bottom",
    "padding-start",
);

// Layout & components
//@import "../../vendor/twbs/bootstrap/scss/reboot";
%heading {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: var(--#{$prefix}heading-color);
}

//h1 {
//  @extend %heading;
//  @include font-size($h1-font-size);
//}
//h5 {
//  @extend %heading;
//  @include font-size($h5-font-size);
//}
//h6 {
//  @extend %heading;
//  @include font-size($h6-font-size);
//}
mark {
  padding: $mark-padding;
  color: var(--#{$prefix}highlight-color);
  background-color: var(--#{$prefix}highlight-bg);
}
//@import "../../vendor/twbs/bootstrap/scss/type";
@import "../../vendor/twbs/bootstrap/scss/images";
@import "../../vendor/twbs/bootstrap/scss/tables";
@import "../../vendor/twbs/bootstrap/scss/forms";
@import "../../vendor/twbs/bootstrap/scss/buttons";
// @import "../../vendor/twbs/bootstrap/scss/transitions";
// @import "../../vendor/twbs/bootstrap/scss/dropdown";
// @import "../../vendor/twbs/bootstrap/scss/button-group";
@import "../../vendor/twbs/bootstrap/scss/nav";
// @import "../../vendor/twbs/bootstrap/scss/navbar";
@import "../../vendor/twbs/bootstrap/scss/card";
// @import "../../vendor/twbs/bootstrap/scss/accordion";
@import "../../vendor/twbs/bootstrap/scss/breadcrumb";
// @import "../../vendor/twbs/bootstrap/scss/pagination";
// @import "../../vendor/twbs/bootstrap/scss/badge";
@import "../../vendor/twbs/bootstrap/scss/alert";
// @import "../../vendor/twbs/bootstrap/scss/progress";
// @import "../../vendor/twbs/bootstrap/scss/list-group";
@import "../../vendor/twbs/bootstrap/scss/close";
// @import "../../vendor/twbs/bootstrap/scss/toasts";
@import "../../vendor/twbs/bootstrap/scss/modal";
@import "../../vendor/twbs/bootstrap/scss/tooltip";
// @import "../../vendor/twbs/bootstrap/scss/popover";
// @import "../../vendor/twbs/bootstrap/scss/carousel";
// @import "../../vendor/twbs/bootstrap/scss/spinners";
// @import "../../vendor/twbs/bootstrap/scss/offcanvas";
// @import "../../vendor/twbs/bootstrap/scss/placeholders";

// Helpers
@import "../../vendor/twbs/bootstrap/scss/helpers/clearfix";
//@import "../../vendor/twbs/bootstrap/scss/helpers/color-bg";
//@import "../../vendor/twbs/bootstrap/scss/helpers/colored-links";
@import "../../vendor/twbs/bootstrap/scss/helpers/focus-ring";
//@import "../../vendor/twbs/bootstrap/scss/helpers/icon-link";
//@import "../../vendor/twbs/bootstrap/scss/helpers/ratio";
//@import "../../vendor/twbs/bootstrap/scss/helpers/position";
@import "../../vendor/twbs/bootstrap/scss/helpers/stacks";
//@import "../../vendor/twbs/bootstrap/scss/helpers/visually-hidden";
@import "../../vendor/twbs/bootstrap/scss/helpers/stretched-link";
//@import "../../vendor/twbs/bootstrap/scss/helpers/text-truncation";
//@import "../../vendor/twbs/bootstrap/scss/helpers/vr";



// Utilities
@import "../../vendor/twbs/bootstrap/scss/utilities/api";

// Base
@import "app/font";
@import "app/root";

// Components
@import "components/Icon";

// Vendors customization
@import "vendor/bootstrap";

.code-description a {
    text-decoration: underline;
}
