<aside>
    <nav class="sticky top-4 max-h-dvh overflow-y-auto [scrollbar-color:var(--color-body-text)_var(--color-surface)] [scrollbar-width:thin] border-r pr-1">
        {{ include('toolkit/_kit_aside_content.html.twig') }}
    </nav>
</aside>
