{% extends 'ux_packages/package.html.twig' %}

{% block body %}
    <h1>Today's TODO List!</h1>

    {{ include('ux_packages/turbo/_demo_message.html.twig') }}

    <turbo-frame id="daily-todos">
        <ul class="mb-0">
            {% for key, item in todos %}
                <li>
                    {{ item }}
                    <form class="inline" action="{{ path('app_turbo_remove_todo_item', {
                        id: key,
                    }) }}">
                        <twig:Button variant="link" type="submit" class="p-0" title="All done!"><twig:ux:icon name="circle-check" /></twig:Button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        {% if todos is empty %}
            <twig:Alert variant="success">You did it! Order a 🍕 and take the afternoon off.</twig:Alert>
        {% endif %}

        <twig:Button variant="dark" href="{{ path('app_turbo_add_todo_item') }}" class="mt-12 w-full">+ Add another item</twig:Button>
    </turbo-frame>
{% endblock %}
