<footer>
    <div class="max-w-[1400px] mx-auto py-12 lg:px-12">
        <div class="grid grid-cols-12 gap-x-6 items-center">
            <div class="col-span-12 xl:col-span-3 xl:order-3 text-center xl:text-end">
                <p class="flex items-center justify-center xl:justify-end gap-2 mb-0">
                    <a href="https://github.com/symfony/ux" rel="external noopener noreferrer"
                       aria-label="Symfony UX on GitHub"
                       class="lg:order-1 text-2xl"
                    >
                        <twig:ux:icon name="github"/>
                    </a>
                    <a href="{{ url('app_documentation') }}" class="lg:order-0 text-[11px] uppercase">Docs</a>
                    <a href="{{ url('app_changelog') }}" class="lg:order-0 text-[11px] uppercase">Changelog</a>
                    <a href="{{ url('app_support') }}" class="lg:order-0 text-[11px] uppercase">Support</a>
                    <a href="https://symfony.com" rel="external noopener noreferrer"
                       class="text-2xl"
                       aria-label="Symfony website"
                    >
                        <twig:ux:icon name="symfony"/>
                    </a>
                </p>
            </div>
            <div class="col-span-12 xl:col-span-6 xl:order-2">
                <p class="xl:mb-0 mt-4 xl:mt-0 text-center text-xs uppercase">
                    <span class="block md:inline">
                        crafted by
                        <a href="https://symfonycasts.com"
                           rel="external noopener noreferrer"
                           class="font-bold"
                        >SymfonyCasts</a>
                        &amp;
                        <a href="https://locastic.com"
                           rel="external noopener noreferrer"
                           class="font-bold"
                        >Locastic</a><span class="hidden md:inline">,</span>
                    </span>
                    <span class="block md:inline">
                        hosted with
                        <a href="https://upsun.com"
                           rel="external"
                           class="font-bold"
                        >Upsun</a>
                    </span>
                </p>
            </div>
            <div class="col-span-12 xl:col-span-3 text-center xl:text-start">
                <p class="mb-0 text-[11px] uppercase">
                    &copy;
                    <a href="https://symfony.com" class="font-bold">Symfony</a>
                    All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
