{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Changelog',
    title_suffix: ' - Symfony UX',
    description: 'Symfony UX changelog - New features, bug fixes, performances and security improvements about Symfony Live Components, Twig Components, Autocomplete, Icons...',
    canonical: url('app_changelog'),
} %}

{% block content %}

    <div class="hero">
        <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12">
            <h1 class="text-center mt-12"><a href="{{ url('app_changelog') }}">Changelog</a></h1>
            <p class="text-center mt-2 mb-12">New features, bug fixes, performances and security improvements.</p>
        </div>
    </div>

    <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12">
        <div class="max-w-[1000px] mx-auto flex flex-col gap-16 relative [--left-pane:10rem] max-lg:[--left-pane:0rem] before:content-[''] before:absolute before:top-10 before:left-(--left-pane) before:w-0.5 before:bottom-8 before:bg-surface before:border-r before:border-surface max-lg:before:hidden">
            {% for entry in changelog %}
                <twig:ChangelogItem item="{{ entry }}" isOpen="{{ loop.index < 4 }}" />
            {% endfor %}
        </div>
    </div>

{% endblock %}
