{% extends 'base.html.twig' %}

{% set meta = {
    title: 'Support',
    description: 'Symfony UX support - Ask questions about Symfony UX and get answers: Slack channel, Github discussions...',
    canonical: url('app_support'),
} %}

{% block content %}

    <div class="pt-20">
        <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12">
            <h1 class="text-center mt-12"><a href="{{ url('app_support') }}">Support</a></h1>
            <p class="text-center mt-2 mb-12">Ask questions about Symfony UX and find the answers you need.</p>
        </div>
    </div>

    <section style="--padding:0;">
        <div class="max-w-[1240px] mx-auto px-6 pt-6 md:px-12" style="max-width: 1200px;">
            <div style="display: grid; gap: 3rem; grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))">
                <twig:SupportBox>
                    <twig:block name="logo">
                        <twig:ux:icon name="github" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="https://github.com/symfony/ux/discussions" rel="external me">Github Discussions</a>
                    </twig:block>
                    <twig:block name="description">
                        Engage in our GitHub Discussions to find answers, ideas or ask the <code>community</code> for help.
                    </twig:block>
                </twig:SupportBox>

                <twig:SupportBox icon="logos:slack-icon">
                    <twig:block name="logo">
                        <twig:ux:icon name="logos:slack-icon" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="https://symfony.com/slack" rel="external noopener">Symfony Slack</a>
                    </twig:block>
                    <twig:block name="description">
                        Join the Symfony Slack <code>#UX</code> channel to seek help or offer your expertise.
                    </twig:block>
                </twig:SupportBox>

                <twig:SupportBox>
                    <twig:block name="logo">
                        <twig:ux:icon name="bluesky" style="color: #0A7AFF;" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="https://bsky.app/profile/ux.symfony.com" rel="external me">BlueSky</a>
                    </twig:block>
                    <twig:block name="description">
                        Join and follow <code>@ux.symfony.com</code> to get updates and interact with the <code>#SymfonyUX</code> team!
                    </twig:block>
                </twig:SupportBox>

                <twig:SupportBox>
                    <twig:block name="logo">
                        <twig:ux:icon name="github" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="https://github.com/symfony/ux/issues" rel="external me">Github Issues</a>
                    </twig:block>
                    <twig:block name="description">
                        Submit <code>bug reports</code> or contribute to the documentation on our GitHub Issues tracker.
                    </twig:block>
                </twig:SupportBox>

                <twig:SupportBox>
                    <twig:block name="logo">
                        <twig:ux:icon name="symfony" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="https://symfony.com/bundles#symfony-ux-bundles" rel="external noopener">Symfony Docs</a>
                    </twig:block>
                    <twig:block name="description">
                        Explore the official Symfony docs on <code>UX bundles</code> and components.
                    </twig:block>
                </twig:SupportBox>

                <twig:SupportBox>
                    <twig:block name="logo">
                        <twig:ux:icon name="x-twitter" />
                    </twig:block>
                    <twig:block name="title">
                        <a href="https://x.com/SymfonyUX" rel="external me"><s>Twitter</s> X</a>
                    </twig:block>
                    <twig:block name="description">
                        Follow the conversation on X for the latest tips and updates about <code>#SymfonyUX</code>.
                    </twig:block>
                </twig:SupportBox>
            </div>
        </div>
    </section>

{% endblock %}

{% block aside %}
    {{ include('_aside.html.twig') }}
{% endblock %}
