{%- props 
    disabled = false
-%}
{%- set style = html_cva(
    base: 'font-normal text-foreground',
    variants: {},
    compoundVariants: []
) -%}

<span
    class="{{ style.apply({}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({}).without('class') }}
    role="link"
    aria-disabled="{{ disabled ? 'true' : 'false' }}"
    aria-current="page"
>
    {% block content %}{% endblock %}
</span>
