{%- props -%}
{%- set style = html_cva(
    base: '[&>svg]:w-3.5 [&>svg]:h-3.5',
    variants: {},
    compoundVariants: []
) -%}

<li
    class="{{ style.apply({}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({}).without('class') }}
    role="presentation"
    aria-hidden="true"
>
    {% set _block = block('content') %}
    {% if content is defined and content is not empty %}
        {% block content %}{% endblock %}
    {% else %}
        <twig:ux:Icon name="mdi:chevron-right" />
    {% endif %}
</li>
