{%- props variant = 'default', outline = false, size = 'default' -%}
{%- set style = html_cva(
    base: 'inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0',
    variants: {
        variant: {
            default: "bg-primary text-primary-foreground hover:bg-primary/90",
            secondary: "bg-secondary text-secondary-foreground hover:bg-secondary/80",
            destructive: "bg-destructive text-destructive-foreground hover:bg-destructive/90",
            ghost: "hover:bg-accent hover:text-accent-foreground",
            link: "text-primary underline-offset-4 hover:underline",
        },
        outline: {
            true: "text-foreground bg-white",
        },
        size: {
            default: "h-10 px-4 py-2",
            sm: "h-9 rounded-md px-3",
            lg: "h-11 rounded-md px-8",
            icon: "h-10 w-10",
        },
    },
    compoundVariants: [{
        variant: ['default'],
        outline: ['true'],
        class: 'border-primary',
    }, {
        variant: ['secondary'],
        outline: ['true'],
        class: 'border-secondary',
    }, {
        variant: ['destructive'],
        outline: ['true'],
        class: 'border-destructive',
    },]
) -%}

<button
    class="{{ style.apply({variant, outline, size}, attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</button>
