<a
    {{ attributes.defaults({
        href: url,
        rel: isExternal ? 'external noopened noreferrer' : false,
    }).without('class') }}
    class="rounded-2xl flex flex-col p-4 relative place-self-stretch bg-body opacity-90 transition duration-250 ease-in-out hover:-translate-y-1 hover:opacity-100 hover:shadow-md"
>
    <div class="flex flex-">
        <span class="h4 font-bold font-stretch-condensed tracking-tight flex-1">
            {{ title }}
        </span>
        <twig:ux:icon name="{{ icon }}" class="Icon size-6"/>
    </div>
    <p>{{ text }}</p>
</a>
