<div class="flex bg-body border rounded-2xl p-3 place-content-center items-center flex-col gap-2.5">
    <twig:ux:icon name="feature:{{ icon }}" class="h-10 self-center **:stroke-1" />
    <h3 class="font-normal text-base m-0">{{ title }}</h3>
</div>
