<tr {{ attributes }}>
    <th>{{ food.name }}</th>
    <td>
        Votes: {{ food.votes }}
    </td>
    <td style="width: 250px;">
        {% if hasVoted %}
            <twig:Alert variant="success">Thanks for voting!</twig:Alert>
        {% else %}
            <twig:Button
                variant="secondary"
                data-action="live#action"
                data-live-action-param="vote"
                data-live-direction-param="up"
            >
                <twig:ux:icon name="arrow-up" />
            </twig:Button>
            <twig:Button
                variant="secondary"
                data-action="live#action"
                data-live-action-param="vote"
                data-live-direction-param="down"
            >
                <twig:ux:icon name="arrow-down" />
            </twig:Button>
        {% endif %}
    </td>
</tr>
