<div class="pt-20">
    <div class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12">
        {% if eyebrows|default %}
            <p class="eyebrows text-center mt-12 mb-4">{{ eyebrows }}</p>
        {% endif %}
        <h1 class="text-center">
            <a href="{{ url ?? url(app.current_route) }}">{{ title }}</a>
        </h1>
        {% if block('content') is defined %}
            <div style="font-size: 1rem; line-height: 1.75rem;" class="mt-6 text-center demo-introduction">
                {{ block('content') }}
            </div>
        {% endif %}
    </div>
</div>
