<div {{ attributes.defaults({
    class: 'homepage-terminal-swapper',
}) }}>
    {% component Terminal with {height: '180px', bottomPadding: 0, processContents: false} %}
        {% block content -%}
            <span
                style="font-size: 1.2em;"
                data-controller="typed"
                data-typed-loop-value="true"
                data-typed-show-cursor-value="true"
                data-typed-type-speed-value="20"
                data-typed-cursor-char-value="🖱"
                data-typed-content-type-value="html"
                data-typed-strings-value="{{ typedStrings|json_encode|e('html_attr') }}"
            ></span>
        {%- endblock %}
    {% endcomponent %}
</div>
