<div {{ attributes }}>
    <form
        data-action="live#action:prevent"
        data-live-action-param="saveCategory"
    >

        <div class="mb-4">
            <twig:Form:Label for="category-name">Category name:</twig:Form:Label>
            <twig:Form:Input id="category-name" data-model="name" hasError="{{ _errors.has('name') }}" />
            <twig:Form:Errors errors="{{ _errors.get('name') }}" />
        </div>

        <twig:Button variant="primary" type="submit" id="testing-element">Save</twig:Button>
    </form>
</div>
