{%- props -%}
{%- set style = html_cva(
    base: 'p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]',
    variants: {},
    compoundVariants: []
) -%}

<td
        class="{{ style.apply({}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</td>
