{% extends 'ux_packages/package.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'live-component',
        eyebrowText: 'Reactive Twig Templates',
    } %}
        {% block title_header %}
            An Interactive UI <br><em>in</em> PHP <em>&</em> Twig
        {% endblock %}

        {% block sub_content %}
           Develop your interface.. from the comfort of Symfony.<br> No Javascript needed.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="src/Twig/Components/Package/SearchPackages.php" />
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock filename="templates/components/Package/SearchPackages.html.twig" />
{% endblock %}

{% block demo_title %}
    Live Components
{% endblock %}

{% block demo_content %}
    <twig:SearchPackages />
    <div class="flex eyebrows pt-6 gap-2 items-center justify-center">
        <div>Automatic <em>debouncing</em></div>
        <twig:ux:icon name="circle-fill" />
        <div>Loading states</div>
        <twig:ux:icon name="circle-fill" />
        <div>Required writing <em>ZERO JavaScript</em></div>
    </div>
{% endblock %}

{% block documentation_links %}{% endblock %}

{% block package_links %}
<section class="max-w-[1400px] mx-auto px-6 pt-6 md:px-12 md:pt-12">
    <h2 class="eyebrows mt-12" id="demos">Live Component Demos</h2>
    <div class="md:flex md:justify-between text-center items-center md:text-start">
        <h2 class="ubuntu pt-2 component-headlines">Find out what else you can <span style="color: #AE5929;">build</span></h2>
        <twig:Button href="https://symfony.com/bundles/ux-live-component/current/index.html" class="my-4 md:my-0">
            Read full Documentation
            <twig:ux:icon name="arrow-right" class="-rotate-45"/>
        </twig:Button>
    </div>

    <div class="mt-12 pb-12">
        <div style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fill, minmax(min(100%, 320px), 1fr));">
            {% for demo in demos %}
                <twig:Demo:DemoCard demo="{{ demo }}" />
            {% endfor %}
        </div>
    </div>
</section>

{{ parent() }}

{% endblock %}
