{% extends 'ux_packages/package.html.twig' %}

{% block package_header %}
    {% component PackageHeader with {
        package: 'translator',
        eyebrowText: 'JavaScript-enabled Translation',
    } %}
        {% block title_header %}
            Translations directly imported in <em>JavaScript</em>
        {% endblock %}

        {% block sub_content %}
            Write & manage your translations like you always do. Then use them just as easily in JS.
        {% endblock %}
    {% endcomponent %}
{% endblock %}

{% block code_block_left %}
    <twig:CodeBlock filename="translations/messages+intl-icu.en.yaml" height="300px"/>
{% endblock %}

{% block code_block_right %}
    <twig:CodeBlock filename="translations/messages+intl-icu.fr.yaml" height="300px"/>
{% endblock %}

{% block demo_title %}UX Translator{% endblock %}

{% block demo_content %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'hello',
        } %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'say_hello',
            parameters: {
                name: 'Fabien',
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="say_hello-name">Name</twig:Form:Label>
                    <twig:Form:Input id="say_hello-name"
                           type="text" name="name" value="Fabien"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    />
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'invitation_title',
            parameters: {
                organizer_gender: 'Fabien',
                organizer_name: 'Clara',
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="invitation_title-organizer_gender">Gender</twig:Form:Label>
                    <twig:Form:Select id="invitation_title-organizer_gender"
                        name="organizer_gender"
                        data-translator-demo-block-target="parameters"
                        data-action="translator-demo-block#render"
                    >
                        <option value="female" selected>Female</option>
                        <option value="male">Male</option>
                        <option value="multiple">Multiple</option>
                        <option value="trans">Trans</option>
                    </twig:Form:Select>
                </div>
                <div class="mb-2">
                    <twig:Form:Label for="invitation_title-organizer_name">Name</twig:Form:Label>
                    <twig:Form:Input id="invitation_title-organizer_name"
                           name="organizer_name"
                           value="Clara"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    />
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'num_of_apples',
            parameters: {
                apples: 2,
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="num_of_apples-apples">Count</twig:Form:Label>
                    <twig:Form:Input id="num_of_apples-apples"
                           name="apples" type="number" min="0" max="5" value="2"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    />
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'finish_place',
            parameters: {
                place: 2,
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="finish_place-place">Place</twig:Form:Label>
                    <twig:Form:Input id="finish_place-place"
                           name="place" type="number" min="0" max="5" value="1"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    />
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'published_at',
            parameters: {
                publication_date: '2023-04-27 08:12',
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="published_at-publication_date">Date</twig:Form:Label>
                    <twig:Form:Input id="published_at-publication_date"
                           name="publication_date" type="datetime-local" value="2023-04-27 08:12"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    />
                </div>
            {% endblock %}
        {% endembed %}

         {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'progress',
            parameters: {
                progress: 42,
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="progress-progress">Place</twig:Form:Label>
                    <input id="progress-progress" class="w-full accent-[#222]"
                           name="progress" type="range" min="0" max="100" value="42"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    >
                </div>
            {% endblock %}
        {% endembed %}

        {% embed 'ux_packages/translator/_translator_demo_block.html.twig' with {
            message: 'value_of_object',
            parameters: {
                price: 30,
            },
        } %}
            {% block parameters %}
                <div class="mb-2">
                    <twig:Form:Label for="value_of_object-price">Price</twig:Form:Label>
                    <twig:Form:Input id="value_of_object-price"
                           name="price" type="number" min="1"  value="30" step="0.1"
                           data-translator-demo-block-target="parameters"
                           data-action="translator-demo-block#render"
                    />
                </div>
            {% endblock %}
        {% endembed %}

{% endblock %}
