<div {{ attributes.defaults({
    class: 'group text-[0.8rem] font-mono px-2 py-1 rounded border bg-surface overflow-hidden relative opacity-80 hover:opacity-100 [&_pre]:m-0 [&_pre]:overflow-hidden [&_pre]:p-2 [&_pre]:leading-[1.7] [&_pre_code]:whitespace-break-spaces'
}) }}>
    {% block content %}{% endblock %}
</div>
