<aside class="bg-subtle mt-12">
    <div class="max-w-[1400px] mx-auto p-6 md:p-12">
        <div style="display: grid; gap: 2rem; grid-template-columns: repeat(auto-fill, minmax(min(100%, 340px), 1fr));">
            <twig:DocsLink
                title="Documentation"
                text="Get going with the official Symfony doc."
                url="https://symfony.com/bundles/ux-icons/current/index.html"
                icon="symfony"
            />
            <twig:DocsLink
                title="Screencasts"
                text="Watch UX screencasts on SymfonyCasts."
                url="https://symfonycasts.com/screencast/stimulus"
                icon="symfonycast"
            />
            <twig:DocsLink
                title="Community"
                text="Feedback · support · contributions."
                url="https://github.com/symfony/ux"
                icon="github"
            />
        </div>
    </div>
</aside>
