{%- props -%}
{%- set style = html_cva(
    base: 'flex flex-col space-y-1.5 p-6',
    variants: {},
    compoundVariants: []
) -%}

<div
        class="{{ style.apply({}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</div>
