{%- props -%}
{%- set style = html_cva(
    base: 'font-semibold leading-none tracking-tight',
    variants: {},
    compoundVariants: []
) -%}

<div
        class="{{ style.apply({}, attributes.render('class'))|tailwind_merge }}"
        {{ attributes.defaults({}).without('class') }}
>
    {% block content %}{% endblock %}
</div>
